*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pageHeader{
    display: flex;
    justify-content: space-between;
    padding:2rem ;
    background-color:  #fdf2e9;
}

header nav{
    margin-right: 1rem;
    gap: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}
.logo{
    height: 20px;
    margin-left: 1rem;
    padding: 1rem;
}
li{
    padding: 1rem;
    list-style-type: none;
}
a{
    text-decoration:none;
    font-size:1rem;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    color: black;
    cursor: pointer;
}
.lastAnchor{
    border: 0.5rem;
    background-color: darkorange;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    font-size:1rem;
}
.lastAnchor:hover{
    background-color: darkgoldenrod;
    color: white;
}

a:hover{
    color: darkorange;
}
.pageMain{
    background-color:  #fdf2e9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;
}
.mainDiv1{
    max-width:40rem;
}
.mainImg{
    width: 30rem;
    padding: 1rem;
}
.mainP2{
    text-align: center;
    padding: 1rem;
    font-size:x-large;
}
.mainP1{
    text-align: center;
    padding: 1rem;
    font-size:3rem;
    font-weight:bolder;
}

.learnMore{
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: black;
    font-weight: bold;
    font-size:1rem;
    border: none;
    border: 0.3rem solid white;
    cursor: pointer;
}
.learnMore:hover{
    background-color: #fdf2e9 ;
}
.btnDiv{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 3rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
}
.btnDiv button{
    flex-grow: 0.2;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
}
.lastDiv{
    display: flex;
    justify-content: flex-start;
    margin: 1.7rem;
    gap: 1rem;
}
.customers img{
    height: 2.5rem;
    border-radius: 100%;
    border: 0.2rem solid #fdf2e9;
}
.customer{
    margin-left : -1rem;
}
.lastP{
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
}
span{
    color: darkorange;
}
.featured{
    padding: 1rem;
    background-color: white;
    display: grid;
    justify-content: center;
    
}
.featuredP{
    font-size: small;
    padding: 1rem;
    background-color: white;
    justify-self: center;
    color: gray;
}
.featuredImg{
    display: flex;
    justify-content: space-between;
}
.featuredImg img{
    background-color: white;
    filter: grayscale(100%);
    height: 2rem;
    padding: 0.5rem;
    opacity: 0.5;
}
.featuredImg img:hover{
    filter: grayscale(0%);
    cursor: pointer;
}
.howItWorks{
    justify-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.howItWorks header{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
}
.howItWorks p{
    justify-self: flex-start;

}
.howItWorks header h5{
    color: darkorange;
}
.howItWorks header p{
    font-weight:bolder;
    font-size: 2.5rem;
}
.howItWorks main{
    display: grid;
    grid-template-columns: [first] 54rem [end];
    grid-template-rows: [first] 27rem [line2] 27rem [line3] 27rem [end] ;
    padding: 2rem;
}
.howItWorks main section img{
    width: 12rem;
    background-color: #fdf2e9;
    align-self: center;
    justify-self: center;
    border-radius: 2rem;
}
.howItWorks main section{
    display: grid;
    grid-template-columns: [first] 37rem [line2] 27rem [end];
    grid-template-rows: [first] 27rem [end] ;
}
.howItWorks main section:nth-child(2){
    display: grid;
    grid-template-columns: [first] 27rem [line2] 37rem [end];
    grid-template-rows: [first] 27rem [end] ;
}
.howItWorks main section div{
    font-weight: light;
}
.howItWorks main section h1{
    padding: 1rem;
    font-size: 2rem;
}
.howItWorks main section h1:first-child{
    font-size: 6rem;
    color: lightgray;
}
.howItWorks main section p{
    padding: 1.1rem;
    font-size: 1rem;
    font-weight: lighter;
}
.backgroundDiv{
    position: absolute;
    background-color: #fdf2e9;
}












/*media and reponsive design*/
.btnX{
    color: black;
    position: absolute;
    height: fit-content;
    right: 0;
    padding:1rem;
    margin: 1rem;
    cursor: pointer;
}
.responsiveNav{
    top: 0;
    display: flex ;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: white;
    justify-content: center;
    align-content: center;
}
.responsiveNav nav{
    margin-top: 20rem;
    font-size: large;
}
/*Menu*/
.menu{
    display: none;
    height: 3rem;
    cursor: pointer;
}
#menu{
    display: block;
}
/* Toggle menu icon */
#menu:checked + .responsiveNav{
    display:flex;
}
@media screen and (max-width:1300px) {
    main{
        padding: 0;
    }
    .mainP1{
        font-size: 2rem;
    }
    .mainP2{
        font-size:1rem ;
        padding: 0;
    }
    nav{
        gap: 0.5rem;
    }
    .btnDiv{
        justify-content: center;
        padding: 0;
    }
    .lastDiv{
        justify-content: center;
        margin: 0;
        padding: 2rem;
    }
    .featuredImg img{
        height: 1.5rem;
    }
   
}
@media screen and (max-width:950px){
    header nav{
        display: none;
    }
    .menu{
        display: block;
    }
}